ANTHROPIC_API_KEY=""
ANTHROPIC_MODEL="claude-haiku-4-5-20251001"
ANTHROPIC_JUDGE="claude-sonnet-4-6"
LANGSMITH_TRACING_V2=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="RAG Gist"
TAVILY_API_KEY=""
TAVILY_TARGET_URL="https://platform.claude.com/docs/en/api/sdks/python"
PINECONE_API_KEY=""
PINECONE_PROJECT="medium-blogs-embeddings-index"
OPENAI_API_KEY=""
